#container
{
  padding:15px;
}

#noteBody
{
  height:20px;
}

select
{
  height: 200px;
}

#noteDisplay
{
  padding: 20px;
  border: 1px solid #121212;
  background-color: aliceblue;
  border-radius: 5px;
}
